<div class='container'><font size=5>
  <h1>Thank you for registring in SuperLeet-CTF</h1><hr>
  Congrats <b><font size=7><%= user.name %></b></font>, you have succesfully registered in SuperLeet-CTF.<br>
  We have sent a confirmation mail on the email-id :
  <h3> <%= user.email %></h3><br>
  Kindly confirm your e-mail id by clicking the <a class="btn btn-default">Confirm</a> button in the email sent.
  </font>
</div>
