<style>
.col-lg-2 {
   text-Align:left !important;
}

</style>
<br><br><br><br><br>
<div class="row">
          <div class="col-lg-4 col-lg-offset-4">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Log-in</legend>
                  <div class="form-group">
                    <label for="user" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="user" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-4">
                      <button type="reset" class="btn btn-default">Reset</button>&emsp;&emsp;&emsp;&emsp;
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
